<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <ion-card class="welcome-card">
            <img src="" alt=""/>
            <ion-card-header>
              <ion-card-subtitle></ion-card-subtitle>
              <ion-card-title></ion-card-title>
            </ion-card-header>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-col class="ion-align-self-center">
                  <div class="ion-text-center">
                    <h3>Entre com suas credenciais:</h3>
                  </div>
                  <ion-card-content>    
                    <form (ngSubmit)="logar()" id="formularioLogin" #formularioLogin >           
                     <ion-item>
                            <ion-label>&nbsp;Login&nbsp;:</ion-label>
                            <ion-input type="text" [(ngModel)]="user.username" name="username" required></ion-input>
                          </ion-item>
                          <ion-item>
                            <ion-label>Senha:</ion-label>
                            <ion-input type="password" [(ngModel)]="user.password" name="password" required></ion-input>
                          </ion-item>
                          <div class="ion-text-center">
                            <span>&nbsp;  </span>
                            <ion-button type="submit" expand="block" style="padding-top: 5px;" color="success">OK</ion-button>
                          </div>
                          <div class="ion-text-center">
                            <a >Esqueceu a senha?</a>
                          </div>
                    </form>
                   </ion-card-content>
                </ion-col>                
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="ion-text-center">
                    <h6><a (click)="showCadastro()">Não tem cadastro? Crie sua conta!</a></h6>
                  </div>    
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <form  #form [hidden]="!showRegisterForm" [formGroup]="validations_form" (submit)="saveUser(form, myBtn)">
                    <ion-grid>
                      <ion-row class="ion-justify-content-center">
                        <ion-col class="ion-align-self-center">
                          <div class="ion-text-center">
                            <h3>Minhas Informações:</h3>
                          </div>
                          <div class="ion-padding">
                            
                            <ion-item *ngIf="!validations_form.controls.username.valid  && (validations_form.controls.username.dirty || validations_form.controls.username.touched) && submetido">
                              <div style="color: red;">Entre com um email válido.</div>
                            </ion-item>
                            <ion-item>
                              <ion-label>Email:</ion-label>
                              <ion-input formControlName="username" placeholder="seu@email.com.br" name="email" maxLength="90" required></ion-input>  
                            </ion-item>
                            
                            <ion-item *ngIf="!validations_form.controls.password.valid  && (validations_form.controls.password.dirty || validations_form.controls.password.touched) && submetido">
                              <div style="color: red;">A senha deve ter no mínimo oito dígitos, maiúsculas e minúsculas, números e caracteres especiais (!@#$¨%^&+=).</div>
                            </ion-item>
                            <ion-item>
                              <ion-label>Senha:</ion-label>
                              <ion-input  formControlName="password" type="password" placeholder="Senha"  name="password" maxLength="50" required></ion-input>
                            </ion-item>
                            
                            <ion-item *ngIf="!validations_form.controls.confirm.valid  && (validations_form.controls.confirm.dirty || validations_form.controls.confirm.touched) && submetido">
                              <div style="color: red;">A senha deve ter no mínimo oito dígitos, maiúsculas e minúsculas, números e caracteres especiais (!@#$¨%^&+=).</div>
                            </ion-item>                            
                            <ion-item>
                              <ion-label>Confirma:</ion-label>
                              <ion-input formControlName="confirm" type="password" placeholder="Senha novamente" name="confirm" maxLength="50" required></ion-input>
                            </ion-item>
                            
                            <div class="ion-text-center">
                              <span>&nbsp;  </span>
                              <ion-button style="padding-top: 5px;" type="submit" expand="block" #myBtn color="success">Cadastro</ion-button>
                            </div>                          
                          </div>
                        </ion-col>
                      </ion-row>
                  </ion-grid>           
                </form>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
