<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bem vind@!  Complete seu perfil e currículo para buscar vagas.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <pre>
      Aqui vamos ajudar você a encontrar uma oportunidade compatível com vc,
      com as suas habilidades, qualidades, potencialidades.
      Uma vaga que possa possibilitar ..... bla bla bal etc....</pre>
  </div>
</ion-content>
