<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dados Pessoais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

        <form  #form (ngSubmit)="save(form, myBtn)" [formGroup]="validations_form">

          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col class="ion-align-self-center"  size-md="6" size-lg="6" size-xs="12">
                <div class="ion-text-center">
                  <h3>Minhas Informações:</h3>
                </div>

                <div class="ion-padding">

                  <ion-card class="welcome-card">
                    
                    <ion-item>

                      <ion-avatar class="avatar">
                        <img [src]="previewUrl" (click)="file.click()" *ngIf="previewUrl"/>
                        <img src="assets/prototipoImgs/minhaFoto.png" (click)="file.click()" *ngIf="!previewUrl"/>
                      </ion-avatar>                      
                      <input id='selecao-arquivo' type='file' (change)="fileProgress($event)" accept="image/*" #file>

                    </ion-item>

                  <ion-item *ngIf="!validations_form.controls.nomeCompleto.valid  && (validations_form.controls.nomeCompleto.dirty) && submetido">
                    <div style="color: red;">Preencha seu nome completo.</div>
                  </ion-item>                            
                  <ion-item>
                    <ion-label>Nome:&nbsp;&nbsp;</ion-label>
                    <ion-input formControlName="nomeCompleto" placeholder="Nome Completo"  name="nomeCompleto" required></ion-input>
                  </ion-item>

                  <ion-item *ngIf="!validations_form.controls.nascimento.valid  && (validations_form.controls.nascimento.dirty) && submetido">
                    <div style="color: red;">Preencha sua data de nascimento.</div>
                  </ion-item>                            
                  <ion-item>
                    <ion-label>Nascimento:&nbsp;&nbsp;</ion-label>
                    <ion-datetime formControlName="nascimento" displayFormat="DD/MM/YYYY" name="nascimento" doneText="Ok" cancelText="Cancelar" required></ion-datetime>
                  </ion-item>

                  <ion-item *ngIf="!validations_form.controls.rg.valid  && (validations_form.controls.rg.dirty) && submetido">
                    <div style="color: red;">Preencha seu RG.</div>
                  </ion-item>                            
                  <ion-item>
                    <ion-label>RG:&nbsp;&nbsp;</ion-label>
                    <ion-input formControlName="rg" type="text" placeholder="RG" name="rg" required></ion-input>
                  </ion-item>

                  <ion-item *ngIf="!validations_form.controls.cpf.valid  && (validations_form.controls.cpf.dirty) && submetido">
                    <div style="color: red;">Preencha seu CPF.</div>
                  </ion-item>                            
                  <ion-item>
                    <ion-label>CPF:&nbsp;&nbsp;</ion-label>
                    <ion-input type="text" formControlName="cpf" name="cpf"  placeholder="CPF" [brmasker]="{mask:'000.000.000-00', len:14}" required></ion-input>
                  </ion-item>

                  <ion-item *ngIf="!validations_form.controls.nacionalidade.valid  && (validations_form.controls.nacionalidade.dirty) && submetido">
                    <div style="color: red;">Preencha sua nacionalidade.</div>
                  </ion-item>                            
                  <ion-item>
                    <ion-label>Nacionalidade:&nbsp;&nbsp;</ion-label>
                    <ion-input formControlName="nacionalidade" type="text" placeholder="Nacionalidade" name="nacionalidade" required></ion-input>
                  </ion-item>

                  <ion-item *ngIf="!validations_form.controls.naturalidade.valid  && (validations_form.controls.naturalidade.dirty) && submetido">
                    <div style="color: red;">Preencha sua naturalidade.</div>
                  </ion-item>                            
                  <ion-item>
                    <ion-label>Naturalidade:&nbsp;&nbsp;</ion-label>
                    <ion-input formControlName="naturalidade" type="text" placeholder="Naturalidade" name="naturalidade" required></ion-input>
                  </ion-item>

                  <ion-item *ngIf="!validations_form.controls.estadoCivil.valid  && (validations_form.controls.estadoCivil.dirty) && submetido">
                    <div style="color: red;">Preencha seu estado civil.</div>
                  </ion-item>                            
                  <ion-item>
                    <ion-label>Estado Civil:&nbsp;&nbsp;</ion-label>
                    <ion-select placeholder="Estado Civil" formControlName="estadoCivil" name="estadoCivil" doneText="Ok" cancelText="Cancelar" required>
                      <ion-select-option value="S">Solteiro(a)</ion-select-option>
                      <ion-select-option value="C">Casado(a)</ion-select-option>
                      <ion-select-option value="D">Divorciado(a)</ion-select-option>
                      <ion-select-option value="U">União Estável</ion-select-option>
                      <ion-select-option value="V">Viúvo(a)</ion-select-option>
                    </ion-select>
                  </ion-item>
                  

                  <ion-item *ngIf="!validations_form.controls.genero.valid  && (validations_form.controls.genero.dirty) && submetido">
                    <div style="color: red;">Preencha seu gênero</div>
                  </ion-item>                            
                  <ion-item>
                    <ion-label>Gênero:&nbsp;&nbsp;</ion-label>
                    <ion-select placeholder="Gênero" formControlName="genero" name="genero" doneText="Ok" cancelText="Cancelar" required>
                      <ion-select-option value="F">Feminino</ion-select-option>
                      <ion-select-option value="M">Masculino</ion-select-option>
                    </ion-select>
                  </ion-item>
                  
                </ion-card> <br>

                <ion-card class="welcome-card">


                  <ion-item *ngIf="!validations_form.controls.logradouro.valid  && (validations_form.controls.logradouro.dirty) && submetido">
                    <div style="color: red;">Preencha seu logradouro.</div>
                  </ion-item>                            
                  <ion-item>
                    <ion-label>Logradouro:&nbsp;&nbsp;</ion-label>
                    <ion-input formControlName="logradouro" type="text" placeholder="Logradouro" name="logradouro" required></ion-input>
                  </ion-item>
                  
                  <ion-item>
                    <ion-label>Complemento:&nbsp;&nbsp;</ion-label>
                    <ion-input formControlName="complemento" type="text" placeholder="Complemento" name="complemento"></ion-input>
                  </ion-item>

                  <ion-item *ngIf="!validations_form.controls.bairro.valid  && (validations_form.controls.bairro.dirty) && submetido">
                    <div style="color: red;">Preencha seu bairro</div>
                  </ion-item>                            
                  <ion-item>
                    <ion-label>Bairro:&nbsp;&nbsp;</ion-label>
                    <ion-input formControlName="bairro" type="text" placeholder="Bairro" name="bairro" required></ion-input>
                  </ion-item>

                  <ion-item *ngIf="!validations_form.controls.cidade.valid  && (validations_form.controls.cidade.dirty) && submetido">
                    <div style="color: red;">Preencha sua cidade.</div>
                  </ion-item>                            
                  <ion-item>
                    <ion-label>Cidade:&nbsp;&nbsp;</ion-label>
                    <ion-input formControlName="cidade" type="text" placeholder="Cidade" name="cidade" required></ion-input>
                  </ion-item>

                  <ion-item *ngIf="!validations_form.controls.uf.valid  && (validations_form.controls.uf.dirty) && submetido">
                    <div style="color: red;">Preencha sua UF de origem.</div>
                  </ion-item>                            
                  <ion-item>
                    <ion-label>UF:&nbsp;&nbsp;</ion-label>
                    <ion-select formControlName="uf" type="text" placeholder="Uf" name="uf" [interfaceOptions]="customPopoverOptions" interface="popover" required>
                      <ion-select-option value="AC">Acre</ion-select-option>
                      <ion-select-option value="AL">Alagoas</ion-select-option>
                      <ion-select-option value="AP">Amapá</ion-select-option>
                      <ion-select-option value="BA">Bahia</ion-select-option>
                      <ion-select-option value="CE">Ceará</ion-select-option>
                      <ion-select-option value="DF">Distrito Federal</ion-select-option>
                      <ion-select-option value="GO">Goiás</ion-select-option>
                      <ion-select-option value="MA">Maranhão</ion-select-option>
                      <ion-select-option value="MG">Minas Gerais</ion-select-option>
                      <ion-select-option value="MT">Mato Grosso</ion-select-option>
                      <ion-select-option value="MS">Mato Grosso do Sul</ion-select-option>
                      <ion-select-option value="PA">Pará</ion-select-option>
                      <ion-select-option value="PB">Paraíba</ion-select-option>
                      <ion-select-option value="PE">Pernambuco</ion-select-option>
                      <ion-select-option value="PI">Piauí</ion-select-option>
                      <ion-select-option value="PR">Paraná</ion-select-option>
                      <ion-select-option value="RJ">Rio de Janeiro</ion-select-option>
                      <ion-select-option value="RN">Rio Grande do Norte</ion-select-option>
                      <ion-select-option value="RS">Rio Grande do Sul</ion-select-option>
                      <ion-select-option value="RR">Rondônia</ion-select-option>
                      <ion-select-option value="RO">Roraima</ion-select-option>
                      <ion-select-option value="SC">Santa Catarina</ion-select-option>
                      <ion-select-option value="SE">Sergipe</ion-select-option>
                      <ion-select-option value="SP">São Paulo</ion-select-option>                      
                      <ion-select-option value="TO">Tocantins</ion-select-option>
                    </ion-select>
                  </ion-item>

                  <ion-item *ngIf="!validations_form.controls.cep.valid  && (validations_form.controls.cep.dirty) && submetido">
                    <div style="color: red;">Preencha seu CEP.</div>
                  </ion-item>                            
                  <ion-item>
                    <ion-label>Cep:&nbsp;&nbsp;</ion-label>
                    <ion-input formControlName="cep" type="text" placeholder="Cep" name="cep" [brmasker]="{mask:'00.000-00', len:10}" required></ion-input>
                  </ion-item>
                  
                </ion-card> <br>

                <ion-card class="welcome-card">

                  <ion-item>
                    <ion-label>Link do Facebook:&nbsp;&nbsp;</ion-label>
                    <ion-input formControlName="linkFace" type="text" placeholder="Link do Facebook" name="linkFace"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>LinkedIn:&nbsp;&nbsp;</ion-label>
                    <ion-input formControlName="linkedIn" type="text" placeholder="LinkedIN" name="linkedIn"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Instagram:&nbsp;&nbsp;</ion-label>
                    <ion-input formControlName="instagram" type="text" placeholder="Instagram" name="instagram"></ion-input>
                  </ion-item>

                </ion-card> <br>
                
                <ion-card class="welcome-card">

                  <ion-item>
                    <ion-label>Possui Filhos?</ion-label>
                    <ion-checkbox color="primary" formControlName="possuiFilhos" name="possuiFilhos"></ion-checkbox>
                  </ion-item>

                  <ion-item>
                    <ion-label>Possui Habilitação?</ion-label>
                    <ion-checkbox color="primary" formControlName="possuiHabilitacao" name="possuiHabilitacao"></ion-checkbox>
                  </ion-item>

                  <ion-item>
                    <ion-label>Possui Veículo?</ion-label>
                    <ion-checkbox color="primary" formControlName="possuiVeiculo" name="possuiVeiculo"></ion-checkbox>
                  </ion-item>

                  <ion-item>
                    <ion-label>Possui Necessidades Especiais?</ion-label>
                    <ion-checkbox color="primary" formControlName="possuiNecessidadesEspeciais" name="possuiNecessidadesEspeciais"></ion-checkbox>
                  </ion-item>

                  <ion-item>
                    <ion-label>Disponível para mudar de cidade?</ion-label>
                    <ion-checkbox color="primary" formControlName="disponibilidadeMudar" name="disponibilidadeMudar"></ion-checkbox>
                  </ion-item>

                </ion-card> <br>

                <ion-card class="welcome-card">

                  <ion-item>
                    <ion-label>Pretensão salarial:&nbsp;&nbsp;</ion-label>
                    <ion-input type="text" name="money" formControlName="pretensaoSalarial"  placeholder="(R$) Real" [brmasker]="{money: true}"></ion-input>
                  </ion-item>
                  
                </ion-card>

                  <div class="ion-text-center">
                    <span>&nbsp;  </span>
                    <ion-button type="submit" expand="block" #myBtn >Salvar</ion-button>
                  </div>                          
                </div>
              </ion-col>
            </ion-row>
        </ion-grid>           
      </form>

</ion-content>