  a {
    cursor: pointer;
  }
  
  span {
    color: red;
    font-weight: bold;
  }
  
  div {
    padding-top: 10px;
  }

  
  input[type='file'] {
    display: none
  }

  img {    
    cursor: pointer;
  }

  .avatar{
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    height: 130px;
    width: 130px;
  }